<a href="https://colab.research.google.com/github/NigelWanga/Moringa/blob/main/IP_week_4_ipsqlnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

'Connected: @None'

In [14]:
import pandas as pd

with open('clean_cars.csv','r') as f:
    cars = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS cars;
%sql PERSIST cars;
%sql SELECT * FROM cars LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(0, '2 Avenue de Suffren', 0, 0, 0, 0, 0, 'nonexistent', 'Paris', 'paris-suffren-2', 'STATION', '48.857, 2.2917', 75015, 'Paris/Suffren/2', 'operational', 2, 'station', 'ok', 'nonexistent', 2018, 4, 8, 11, 43),
 (1, '145 Rue Raymond Losserand', 6, 6, 0, 0, 0, 'operational', 'Paris', 'paris-raymondlosserand-145', 'STATION', '48.83126, 2.313088', 75014, 'Paris/Raymond Losserand/145', 'operational', 0, 'station', 'ok', 'nonexistent', 2018, 4, 6, 7, 24),
 (2, '2 Avenue John Fitzgerald Kennedy', 3, 3, 0, 2, 0, 'operational', 'Le Bourget', 'lebourget-johnfitzgeraldkennedy-2', 'STATION', '48.938103, 2.4286035', 93350, 'Le Bourget/John Fitzgerald Kennedy/2', 'operational', 1, 'station', 'ok', 'nonexistent', 2018, 4, 3, 20, 14),
 (3, '51 Rue EugÃ¨ne OudinÃ©', 3, 3, 1, 0, 1, 'operational', 'Paris', 'paris-eugeneoudine-51', 'STATION', '48.8250327, 2.3725162', 75013, 'Paris/EugÃ¨ne OudinÃ©/51', 'operational', 2, 'station', 'ok', 'nonexistent', 2018, 4, 4, 4, 37),
 (4, '6 avenue de la Porte de Champerret', 3, 3, 0, 0, 0, 'nonexistent', 'Paris', 'paris-portedechamperret-6', 'PARKING', '48.8862632, 2.2874511', 75017, 'Paris/Porte de Champerret/6', 'operational', 3, 'station', 'ok', 'nonexistent', 2018, 4, 8, 17, 23)]

In [4]:
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
#
%%sql
SELECT City, hour, COUNT(hour) FROM cars
WHERE City = 'Paris' AND month = 4
GROUP BY hour
ORDER BY COUNT(hour) DESC LIMIT 1;

 * sqlite://
Done.

[('Paris', 21, 147)]

In [8]:
#What is the most popular hour for returning cars?
#
%%sql
SELECT hour, COUNT(hour) FROM cars
WHERE Slots > 0
GROUP BY hour
ORDER BY COUNT(hour) DESC LIMIT 1;

 * sqlite://
Done.

[(16, 152)]

In [17]:
#What station is the most popular?
#Overall?
#
%%sql
SELECT "Station type", COUNT("Station type") FROM cars
GROUP BY "Statioin type"
ORDER BY  COUNT("Station type")

 * sqlite://
Done.

[('station', 5000)]

In [18]:
#popular station that is most popular at picking hour
#
%%sql
SELECT "Station type", COUNT("Station type") FROM cars
WHERE hour =  21
GROUP BY "Statioin type"
ORDER BY  COUNT("Station type")

 * sqlite://
Done.

[('station', 237)]

In [25]:
#What postal code is the most popular for picking up Blue cars
#
%%sql
SELECT "Postal code", COUNT("Postal code") FROM cars
WHERE "Bluecar counter" > 0
GROUP BY "Postal code"
ORDER BY COUNT("Postal code") DESC LIMIT 1;

 * sqlite://
Done.

[(75015, 195)]

In [26]:
#Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars
#
%%sql
SELECT "Postal code", COUNT("Postal code") FROM cars
WHERE "Utilib counter" > 0
GROUP BY "Postal code"
ORDER BY COUNT("Postal code") DESC LIMIT 1;

 * sqlite://
Done.

[(75016, 20)]

In [27]:
%%sql
SELECT "Postal code", COUNT("Postal code") FROM cars
WHERE "Utilib 1.4 counter" > 0
GROUP BY "Postal code"
ORDER BY COUNT("Postal code") DESC LIMIT 1;

 * sqlite://
Done.

[(75017, 36)]